<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <%= image_tag('intro.jpg', class: 'intro-img img-fluid mb-3 mb-lg-0 rounded') %>
      <%= render partial: "layouts/info_card", locals: {
        title_upper: 'What is about',
        title_lower: 'The race',
        body_text: "The Boulder Bike Race is an annual cycling event set against the breathtaking backdrop of Boulder, Colorado. This thrilling race attracts cyclists of all levels, from seasoned professionals to enthusiastic amateurs, who converge on the scenic city to test their skills and endurance. Held on April 1st each year, participants navigate through challenging terrain, including rolling hills, winding roads, and scenic trails, showcasing the natural beauty of the Rocky Mountains. With its vibrant atmosphere and competitive spirit, the Boulder Bike Race promises an exhilarating experience for riders and spectators alike, celebrating the joy of cycling and the spirit of community in one of America's most picturesque locations.",
        cta_btn_text: 'Send your slogan!',
        cta_btn_link: new_contest_path
      } %>
    </div>
  </div>
</section>
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="countdown-container">
          <p class="h1">Gear up for the Ride!</p>
          <div id="countdown">
            <ul>
              <li><span id="days"></span>days</li>
              <li><span id="hours"></span>Hours</li>
              <li><span id="minutes"></span>Minutes</li>
              <li><span id="seconds"></span>Seconds</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% content_for :page_specific_js do %>
  <%= javascript_include_tag "customizations/countdown-timer" %>
<% end %>