

<section class="page-section clearfix">
  <div class="container">
    <div class="row mb-3 justify-content-between row-gap-10">
      <% @riders.each do |rider| %>
          <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <%= render partial: "layouts/info_card", locals: {
              title_upper: "#{rider.fname} #{rider.lname}",
              body_text: "#{rider.city_origin} (#{rider.state_origin})",
              cta_btn_text: "Details",
              cta_btn_link: rider_path(rider),
              button_size: 's',
              btn_type: 'outline-primary'
            } %>
          </div>
      <% end %>
    </div>
  </div>
</section>